<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyncDhis2ElmisOrders.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SyncDhis2ElmisOrders.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyncDhis2ElmisOrders.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SyncDhis2ElmisOrders.Properties.Config>
            <setting name="api_username" serializeAs="String">
                <value>IFSAPP</value>
            </setting>
            <setting name="api_password" serializeAs="String">
                <value>IFSAPP</value>
            </setting>
            <setting name="dhis2_api" serializeAs="String">
                <value>https://hmis.health.go.ug/api/29/organisationUnits.json</value>
            </setting>
        </SyncDhis2ElmisOrders.Properties.Config>
        <SyncDhis2ElmisOrders.Config>
            <setting name="username" serializeAs="String">
                <value>m&amp;e.uhsc</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>SSCS@2020i</value>
            </setting>
            <setting name="localhost" serializeAs="String">
                <value />
            </setting>
            <setting name="db_username" serializeAs="String">
                <value />
            </setting>
            <setting name="db_password" serializeAs="String">
                <value />
            </setting>
            <setting name="server_url" serializeAs="String">
                <value>https://hmis.health.go.ug/api/dataStore/ugx_elmis/data.json</value>
            </setting>
        </SyncDhis2ElmisOrders.Config>
    </userSettings>
    <applicationSettings>
        <SyncDhis2ElmisOrders.Properties.Config>
            <setting name="username" serializeAs="String">
                <value>m&amp;e.uhsc</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>SSCS@2022i</value>
            </setting>
            <setting name="trgt_server" serializeAs="String">
                <value>UG1-MODAL</value>
            </setting>
            <setting name="trgt_db_username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="trgt_db_password" serializeAs="String">
                <value>MOUlin123</value>
            </setting>
            <setting name="src_server_url" serializeAs="String">
                <value>https://hmis.health.go.ug/api/dataStore/ugx_elmis/data.json</value>
            </setting>
            <setting name="trgt_db_name" serializeAs="String">
                <value>JMS_IFS</value>
            </setting>
            <setting name="trgt_db_port" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="log_url" serializeAs="String">
                <value>C:\\HMIS_ORDERING\\Dhis2Service_Log.txt</value>
            </setting>
            <setting name="filePath" serializeAs="String">
                <value>C:\\HMIS_ORDERING\\excelOrders.csv</value>
            </setting>
            <setting name="dhis2_username" serializeAs="String">
                <value>m&amp;e.uhsc</value>
            </setting>
            <setting name="dhis2_password" serializeAs="String">
                <value>SSCS@2022a</value>
            </setting>
        </SyncDhis2ElmisOrders.Properties.Config>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CCreateDhisOrderMangementPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://62.56.250.68:58080/webservices/CCreateDhisOrderMangement" binding="basicHttpBinding" bindingConfiguration="CCreateDhisOrderMangementPortBinding" contract="CreateOrderServiceReference.CCreateDhisOrderMangement" name="CCreateDhisOrderMangementPort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>